<%= form_with(model: encoded_item, id: 'encodedItemForm') do |form| %>
  <% if encoded_item.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(encoded_item.errors.count, "error") %> prohibited this encoded_item from being saved:</h2>

      <ul>
        <% encoded_item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <div>
      <b><%= form.label "Descriptor:", class: "form-label" %></b>
      <%= form.text_field :descriptor, readonly: !@does_main_item_exist %>
    </div>

    <div>
      <b><%= form.label :value, "Value To Encode:", class: "form-label" %></b>
      <%= form.text_field :value %>
    </div>

    <br>

    <div>
      <%= form.submit "Save Item", class: "td-action-button"%>
      <%if @does_main_item_exist %>
          <button id="cancelButton" class="td-action-button" onclick="showLoadingMaskAndRedirectToList()" >Cancel and Go Back</button>
      <% end %>
    </div>
  </div>
<% end %>
